html,body{
margin:0;
padding:0;
height:100%;
}
@font-face{
font-family:'Signika';
src:url('../fonts/signika-regular.eot') format('embedded-opentype'),url('../fonts/signika-regular.woff') format('woff'),url('../fonts/signika-regular.ttf') format('truetype'),url('../fonts/signika-regular.svg') format('svg');
}
@font-face{
font-family:'Signika-Bold';
src:url('../fonts/signika-bold.eot') format('embedded-opentype'),url('../fonts/signika-bold.woff') format('woff'),url('../fonts/signika-bold.ttf') format('truetype'),url('../fonts/signika-bold.svg') format('svg');
}
@font-face{
font-family:'Signika-Light';
src:url('../fonts/signika-light.eot') format('embedded-opentype'),url('../fonts/signika-light.woff') format('woff'),url('../fonts/signika-light.ttf') format('truetype'),url('../fonts/signika-light.svg') format('svg');
}
body{background: #3b9e82;font-family:'Signika','Arial';font-size:20px;color:#fff;}
div.sl-header{
font-size: 72px;
text-shadow: 2px 1px #000000;
padding: 10px;
}
.sl-centered{
text-align:center;
}
@media only screen and (max-width: 960px) {
div.sl-header{
font-size: 50px;
}
}